In [1]:
import pandas as pd

## Load Dataset

In [2]:
df = pd.read_csv('order_brush_order.csv', parse_dates=['event_time'])
df.head()

          orderid     shopid     userid          event_time
0  31076582227611   93950878   30530270 2019-12-27 00:23:03
1  31118059853484  156423439   46057927 2019-12-27 11:54:20
2  31123355095755  173699291   67341739 2019-12-27 13:22:35
3  31122059872723   63674025  149380322 2019-12-27 13:01:00
4  31117075665123  127249066  149493217 2019-12-27 11:37:55

In [17]:
shopid_list = df['shopid'].unique()
len(shopid_list)

18770

## Solution

In [27]:
%%time
solution2 = {}
for shopid in shopid_list:
    solution2[shopid] = '0'

cnt_sol = 0
for shopid, df_sample in df.groupby(['shopid']):
    order_brushing_orderids = []
    df_sample = df_sample.sort_values('event_time')

    s = 0
    for i in range(len(df_sample)):
        while df_sample.iloc[i].event_time - df_sample.iloc[s].event_time > pd.Timedelta('1H'):
            s += 1
        
        df_in_hour = df_sample.iloc[s:i+1]
        
        num_orders = len(df_in_hour)
        num_uniq_buyers = len(df_in_hour['userid'].unique())

        if num_orders >= 3 * num_uniq_buyers:
          order_brushing_orderids.extend(list(df_in_hour['orderid']))
    
    order_brushing_orderids = list(set(order_brushing_orderids))
  
    if len(order_brushing_orderids) > 0:
        df_brush = df_sample[df_sample['orderid'].isin(order_brushing_orderids)]
        df_users_cnt = df_brush[['orderid', 'userid']].groupby('userid').count()
        df_users_cnt.columns = ['count']

        max_cnt = df_users_cnt['count'].max()

        sus_users = list(df_users_cnt[df_users_cnt['count'] == max_cnt].index)
        sus_users_str = '&'.join(map(str, sus_users))

        solution2[shopid] = sus_users_str

        cnt_sol += 1
        print(cnt_sol, shopid, sus_users_str)

1 10402 77819
2 10536 672345
3 42472 740844
4 42818 170385453
5 76934 190449497
6 425364 72914921
7 599533 264511
8 605561 181682008
9 722132 7670129
10 731606 75558350
11 769445 141006168
12 823357 188942105
13 1175477 122277324
14 1532569 181408876
15 2831130 15053804
16 3124091 214568881
17 3701311 80690628
18 4149345 212325226
19 4888564 143847348
20 6765647 740844
21 8996761 215382704
22 10199219 8405753
23 10206302 95058664
24 10498480 199416406
25 11342466 152292010
26 11474437 148215831
27 11612863 214546342
28 11809607 136680607
29 11849988 148215831
30 12078788 214588488
31 12537642 48412388
32 13735592 215424202
33 14184981 32594
34 14598427 128702876
35 15920950 211907762
36 16001939 205729485
37 16246487 214300427
38 16680589 102125116
39 16732896 214094512
40 17011899 115994773
41 17212658 107170776
42 17219984 154495684
43 18190345 89014205
44 18229789 192400689
45 19052728 2824209
46 20522747 170673735
47 22800308 99997899
48 27015534 188025647
49 27476241 174145893
50 27987240 192785138
51 28091290 114498557
52 28164269 33794624
53 28773787 144248285
54 28812867 199416406
55 29650418 138388930
56 30740877 79239008
57 31614331 105848455
58 32729279 205785599
59 35590237 2097773
60 36641013 92223139
61 40262957 214804722
62 41056024 214226569
63 41246368 81592089
64 43412276 50672876
65 43596797 214226569
66 45084184 116055684
67 48970010 207880909
68 50682734 214365114
69 50713918 172106152
70 51134277 29857724&212200633
71 51487211 5307816&214808165
72 52377417 213919641
73 54054704 9837180
74 54257623 1974334&107414154
75 54415227 48207392
76 54593828 214778616
77 58722428 12425335
78 58853808 214623481
79 59617008 80682958
80 60587222 33794624
81 63001696 81928284
82 63001745 101866283
83 63888299 112649507
84 64369518 172591713
85 64394533 194833170
86 66232769 215123671
87 66391375 194647522
88 68478964 29466045
89 68609828 183440131
90 68862371 67554410
91 68986766 10209247
92 70009992 215293398
93 71007731 214778616
94 71168001 11053808
95 73103155 214628840
96 73690472 30244568
97 75326165 177472272
98 76668593 215224309
99 78837196 78903959
100 80049863 123158564
101 81087553 130021933
102 83234229 181942741
103 83366265 118860287
104 83440756 26570682
105 85648725 186634585
106 86285837 119785264
107 86368642 144612139
108 86822226 211907762
109 87063118 178640685
110 87621695 87846708
111 87657406 214094512
112 87845635 215427525
113 91123657 7300419
114 91638688 214680031
115 93295101 39834931
116 93358941 79419297
117 94154189 15826134
118 95458810 44959060
119 96460204 193338089
120 96555082 89312509
121 97167904 214778616
122 98481320 124597967
123 98793086 142710562
124 99067259 108402614
125 100446829 2434757
126 103715156 214226569
127 104245736 188187242
128 104278513 80682958
129 104457555 214778616
130 104590058 81928284
131 104590579 213714377
132 104955370 10051694
133 105064701 214431654
134 106051591 1276208
135 106390103 51759862
136 107189025 35639374&159315857
137 108064389 212200633
138 108120403 212200633
139 108170744 31233680
140 109628767 214345977
141 110641390 157946285
142 114016125 214705976
143 114919380 117199298
144 115179739 81928284
145 116337057 193415051
146 117079735 37915675
147 118139770 46361526
148 118949192 211604080
149 119309887 48412388
150 119595148 17722130
151 119690532 21402690
152 120692254 214265994
153 122238789 51759862
154 122459518 214747060
155 123401085 12869645
156 123548863 131515076
157 126261266 76441165
158 126587078 26670670
159 126599655 214327515
160 128299931 215009429
161 128300567 215236192
162 129113839 215408773
163 129460270 48412388
164 130100254 18688337
165 130118966 86802680
166 130168935 31892574
167 130665582 141499072
168 131387639 192251866
169 131670390 214094512
170 132583615 152710183
171 132834615 159124456
172 133255677 178640685
173 134418456 214778616
174 134968430 59725263
175 135644492 40929352
176 136564914 178491887
177 137762841 62080153
178 138810304 58467478
179 139383672 214898782
180 139743785 179065138
181 140626153 86570212
182 141025402 613919
183 143281052 186080843
184 143613660 67554410
185 143899665 215408773
186 144365607 214411855
187 145777302 201343856
188 145986052 63120351
189 148856653 199382229
190 150526730 108214177
191 151556698 169671453
192 152234237 36097212
193 152911522 215169091
194 153335627 111390406
195 153444897 169948888
196 153672697 214778616
197 154843675 214778616
198 155016230 188431260
199 156246169 214778616
200 156248768 129084826
201 156883302 76102350
202 156995951 204919399
203 157939195 69563623
204 160135616 13949927
205 161160594 74027394
206 161196859 180862522
207 161277691 212200872
208 162043213 203554877
209 162282525 162389170
210 162292584 119654795
211 163014475 18885346
212 163351089 214778616
213 163968828 78903959
214 165020094 214617593
215 165500538 93783570
216 168046193 6059093
217 168388504 148215831
218 168750844 193338089
219 169902791 50198835
220 171407673 211296094
221 172406176 215115251
222 172439621 1866916
223 173186657 96046105
224 173318671 215301243
225 173454640 12597591
226 173478708 81928284
227 173508019 132704747
228 175531295 187697407&215009429
229 176338861 132397558
230 177817260 98709440
231 178273138 71152760
232 180676972 121537666
233 181009364 101832161&214208720
234 182541768 210932914
235 182630287 158048102
236 182853378 144902703
237 186369695 174783274
238 187342268 48412388
239 187570150 2677380
240 188323737 31215088
241 188546697 31916119
242 189031483 211943763
243 189544563 799445
244 191285578 214925963
245 191449441 191211430
246 191674006 179171579
247 192608876 213646699
248 192785588 94497233
249 192919438 4624716
250 193424291 1762129
251 195870375 105935455
252 198172755 129799840
253 199314784 121537666
254 201185983 34132265
255 201428849 89254393
256 201503467 92521144
257 201557550 214605778
258 203070501 189834273
259 203440274 73308605
260 203531250 114282846
261 204225676 198662175
262 208696908 214111334
263 210197928 52867898
264 213141071 213646699
Wall time: 4min 23s

In [28]:
df_solution = pd.DataFrame({'shopid' : list(solution2.keys()),
                            'userid' : list(solution2.values())})
df_solution.head()

      shopid userid
0   93950878      0
1  156423439      0
2  173699291      0
3   63674025      0
4  127249066      0

In [29]:
df_solution.to_csv('solution7.csv', index=False)

In [30]:
len(df_solution[df_solution['userid'] != '0'])

264