In [1]:
import pandas as pd

from google.cloud import translate_v2 as translate
translate_client = translate.Client()

In [7]:
df_tcn_chunk_1 = pd.read_csv('product-translation-dataset/train_tcn_chunks/part_1.csv')
df_en_chunk_1  = pd.read_csv('product-translation-dataset/train_en_chunks/part_1.csv')

In [8]:
df_tcn_chunk_1.sum().str.len() + df_en_chunk_1.sum().str.len()

product_title    701311
dtype: int64

In [9]:
df_tcn_chunk_1.tail()

                                          product_title
9995     全新正品Adidas Originals Falcon B28126 黑粉 郭雪芙杨幂 着用
9996  【易先生】COACH 65988肩背包 斜垮时尚女包 六色可选 全皮 双拉链 侧背包 手拿包...
9997  全新现货Louis Vuitton LV 路易威登男女款Zippy老花帆布钱夹LV长款M60...
9998                     固豪腰部按摩器家用腰椎按摩仪背部腰酸腰疼按摩神器车载按摩靠垫
9999  【俊滢特卖】\n旅行简约便携女收纳小号首饰品包盒耳钉耳环公主戒指麻料中式刺绣 美甲头绳多功能...

In [20]:
df_en_chunk_1.tail()

                                          product_title
9995                    women fashion floral long dress
9996                       Flawless Facial Hair Remover
9997       Active white Total Body Whitening Powder 60g
9998  Tonymoly Timeless Ferment Snail Foam cleanser ...
9999                 Ghostgirl Lovesick by Tonya Hurley

In [14]:
df_tcn_chunk_1['translated_output'] = df_tcn_chunk_1['product_title'].apply(lambda x : translate_client.translate(x, source_language='zh', target_language='en')['translatedText'])

In [19]:
df_tcn_chunk_1.to_csv("product-translation-dataset/translations/tcn2en.csv", index=False)

In [21]:
%%time
df_en_chunk_1['translated_output'] = df_en_chunk_1['product_title'].apply(lambda x : translate_client.translate(x, source_language='en', target_language='zh')['translatedText'])

Wall time: 22min 57s

In [22]:
df_en_chunk_1.head()

,product_title,translated_output
0,Vermicast Pure Organic Fertilizer 1kg,mic微纯有机肥1kg
1,Denim jumper short with inner 9775 ag,牛仔布短款短裤，内部有9775 AG
2,Battle for Souls,灵魂之战
3,Princess Gullie Fashionista Kids Wear Rainbow ...,公主古利（Gullie）时尚达人的孩子们穿着彩虹色连身裤和连身衣
4,Masking tape 3 inch core,美纹纸胶带3英寸芯

In [23]:
df_en_chunk_1.to_csv("product-translation-dataset/translations/en2tcn.csv", index=False)

In [5]:
df_test_tcn = pd.read_csv('product-translation-dataset/test_tcn.csv').drop('split', axis=1)
df_test_tcn.columns = ['product_title']
df_test_tcn.head()

                     product_title
0    【PolarStar】美麗諾羊毛保暖襪『淺灰』P18634
1             甜蜜水晶~天然水晶五行珠手鍊10mm手鍊
2                        粉晶六角柱純銀項鍊
3  3M SCOTCH VHB 超強力雙面膠-戶外專用 V1808
4                        燈專屬優惠 *4盒

In [6]:
df_test_tcn.sum().str.len()

product_title    301445
dtype: int64

In [7]:
df_test_tcn['translated_output'] = df_test_tcn['product_title'].apply(lambda x : translate_client.translate(x, source_language='zh', target_language='en')['translatedText'])

In [8]:
df_test_tcn.to_csv("product-translation-dataset/translations/test_tcn2en.csv", index=False)

In [11]:
df_test_tcn_ = df_test_tcn[['translated_output']]
df_test_tcn_.to_csv("product-translation-dataset/translations/test_en.csv", index=False)