In [1]:
import pandas as pd
from functools import reduce

In [8]:
pd_dfs = []
cat_cols = []
for i in [1, 5, 10, 13, 19, 21]:
    pd_df = pd.read_csv('submission_{}.csv'.format(i))
    pd_df['category'] = pd_df['category'].apply(lambda x : '{:02d}'.format(x))
    pd_df.columns     = ['filename', "category_{}".format(i)]
    cat_cols.append("category_{}".format(i))
    pd_dfs.append(pd_df)

pd_merged = reduce(lambda  left, right: pd.merge(left, right, on=['filename'],
                                                 how='outer'), pd_dfs)
pd_merged.tail()

,filename,category_1,category_5,category_10,category_13,category_19
12181,ffef3b0e7505855ba5794ebab9aff719.jpg,08,09,09,09,09
12182,ffef86f7872cd020992e00b7cf6585c7.jpg,20,20,20,20,20
12183,fff8fdfc178e3e94414fc10c69271f88.jpg,10,10,10,10,10
12184,fff9ee1d7f920b920dd603631d24bc07.jpg,23,23,23,23,23
12185,fffb6700a1f0e34254d508cd5f125180.jpg,12,12,12,12,12

In [17]:
pd_submission = pd_merged[['filename']].copy()
pd_submission['category'] = pd_merged[cat_cols].mode(axis=1)[0]
pd_submission.head()

                               filename category
0  0004b03ad7eabfb3989727c461310a84.jpg       12
1  0004d34271d0a0253f8a95d0746bae05.jpg       16
2  000d4ad3d0a372fd6eea2fee6bf738ef.jpg       40
3  0012f125ad07123e69468ae1d1d59de4.jpg       22
4  0015831b249b856e569e883a9dc6d4fa.jpg       12

In [18]:
pd_submission.to_csv("submission_1_to_19_ensemble.csv", index=False)